src/main/app/e-storefrontend.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="e-storeFrontendFlow1" doc:name="e-storeFrontendFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="e-store" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="message.inboundProperties['http.method'] == 'GET'">
                <processor-chain>
                    <logger message="listproducts" level="INFO" doc:name="Logger"/>
                    <vm:outbound-endpoint exchange-pattern="request-response" path="estore.listProducts" doc:name="VM"/>
                    <logger message="#[payload]" level="INFO" doc:name="Logger"/>
                </processor-chain>
            </when>
            <otherwise>
                <processor-chain>
                    <logger message="otherwise" level="INFO" doc:name="Logger"/>
                </processor-chain>
            </otherwise>
        </choice>
    </flow>
</mule>
